<!DOCTYPE html>

<html>
<head>
    <title>Chăm Sóc Khách Hàng</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee:200,300,400|Playfair+Display:400,700"
          rel="stylesheet">

    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    @*Thư viện blockUI*@
    <link href="~/Content/angular-block-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/aos.css">

    <link rel="stylesheet" href="~/Content/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/fonts/fontawesome/css/font-awesome.min.css">
    

    <script src="~/Scripts/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.7.8/angular-sanitize.js"></script>
    @*Thư viện js blockUI*@
    <script src="~/Scripts/angular-block-ui.js"></script>
    <script src="~/ControllerJS/Common/Common.js"></script>
    <!-- Theme Style -->
    <link rel="stylesheet" href="~/Content/css/style.css">
</head>
<body ng-app="CommonApp">
    <header class="site-header">
        @Html.Action("_Menu", "patital")
    </header>
    <section class="site-hero overlay page-inside" style="background: url(http://getwallpapers.com/wallpaper/full/6/6/4/805429-popular-water-background-2560x1600.jpg) center center no-repeat;background-size: cover;">
        <div class="container">
            <div class="row site-hero-inner align-items-center">
                <div class="col-md-7 text-left mr-auto" data-aos="fade-up">
                    <h1 class="text-white">@ViewBag.Header</h1>
                </div>
            </div>
            <a href="#next-section" class="smoothscroll scroll-down">Scroll Down</a>
        </div>
    </section>
    <section class="section @ViewBag.status3" id="next-section">
        <div class="container">
            @*<div block-ui="main"></div>*@
            <div class="row mb-5">
                <div class="col-lg-3 col-md-12 mb-4" style="display:@ViewBag.status">
                    @Html.Action("_navbar", "patital")
                </div>

                <div class="@ViewBag.status2">
                    @*<nav aria-label="breadcrumb" style="display:@ViewBag.status">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Library</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Data</li>
                            </ol>
                    </nav>*@
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>

    @RenderSection("Footer", false)

    <a id="back-to-top" href="#" class="btn btn-success btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">TOP</a>

    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/js/aos.js"></script>
    <script src="~/Content/js/main.js"></script>

    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 50) {
                    $('#back-to-top').fadeIn();
                } else {
                    $('#back-to-top').fadeOut();
                }
            });
            // scroll body to 0px on click
            $('#back-to-top').click(function () {
                $('#back-to-top').tooltip('hide');
                $('body,html').animate({
                    scrollTop: 0
                }, 800);
                return false;
            });

            $('#back-to-top').tooltip('show');

        });
    </script>
</body>
</html>
