@{
    Layout = null;
}
<div class="container-fluid" ng-controller="TinTuc">
    <div class="row">
        <div class="col-4 site-logo">
            <a href="@Url.Action("Index","Home")">
                <img src="~/Content/img/logo.png"
                     style="height: 70px" />
            </a>
        </div>
        <div class="col-8">
            <nav class="navbar navbar-expand-md navbar-dark" style="float: right">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("Index","Home")">Trang Chủ</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbardrop"
                               data-toggle="dropdown">
                                Dịch Vụ
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="@Url.Action("BaoChiSo","Home")">Báo Chỉ Số Nước Online</a>
                                <a class="dropdown-item" href="@Url.Action("DangKyGanMoi","Home")">Đăng Ký Gắn Mới ĐHN</a>
                                <a class="dropdown-item" href="@Url.Action("DangKyNangDoi","Home")">
                                    Đăng Ký Nâng - Dời - Đổi
                                    Cỡ ĐHN
                                </a>
                                <a class="dropdown-item" href="@Url.Action("DangKyHieuChinhHoSo","Home")">
                                    Đăng Ký Điều Chỉnh Hồ
                                    Sơ
                                </a>
                                <a class="dropdown-item" href="@Url.Action("ThanhToanTrucTuyen","ThanhToan")">Thanh Toán Online</a>
                                <a class="dropdown-item" target="_blank"
                                   href="https://portal.capnuocnhabe.vn/SuCo_CNNB-nguoidan/">Báo Bể 24/7</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbardrop"
                               data-toggle="dropdown">
                                Tra Cứu
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" target="_blank" href="http://113.161.69.85:803/dang-nhap">
                                    Hóa Đơn Điện
                                    Tử
                                </a>
                                <a class="dropdown-item" href="@Url.Action("DanhSachThuHo","ThanhToan")">Các Địa Chỉ Thu Hộ</a>
                                <a class="dropdown-item" href="@Url.Action("TraCuuDinhMuc","TraCuu")">Tra Cứu Định Mức</a>
                                <a class="dropdown-item" href="@Url.Action("TraCuuTienNuoc","TraCuu")">Tra Cứu Tiền Nước</a>
                                <a class="dropdown-item" href="@Url.Action("TraCuuTienDoGanMoi","TraCuu")">Tra Cứu Gắn Mới</a>
                                <a class="dropdown-item" href="@Url.Action("TraCuuDieuChinhHoaDon","TraCuu")">
                                    Tra Cứu Điều Chỉnh
                                    Hóa Đơn
                                </a>
                                <a class="dropdown-item" href="@Url.Action("TraCuuTienDoNangDoiDoiCo","TraCuu")">
                                    Tra Cứu Nâng Dời
                                    Đổi Cỡ
                                </a>
                                <a class="dropdown-item" href="@Url.Action("LichCupNuoc","Lich")">Lịch Cúp Nước</a>
                                <a class="dropdown-item" href="@Url.Action("LichDocSo","Lich")">Lịch Đọc Số ĐHN</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" id="navbardrop" href="#">Tin Tức</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="@Url.Action("BaiVietTheoDanhMuc","News")?idDanhMuc={{item.ID_ChuyenMuc}}" ng-repeat="item in danhSachDanhMuc">{{item.TenChuyenMuc}}</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("LienHe","Home")">Liên Hệ</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

<script src="~/Scripts/angular.min.js"></script>
<script src="~/ControllerJS/Common/Common.js"></script>
<script src="~/ControllerJS/News/News.js"></script>
